.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vmin;
    background: #FFFFFF;
}

