.description {
    display: flex;
    flex-direction: column;
    width: 360px;
    align-items: center;

    padding-top: 5vmin;
    width: inherit;
}

.photo {
    width: 40px;
    height: 40px;
    margin-bottom: 5vmin;
}

.shoppingMessage {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;

    /* identical to box height */
    text-align: center;
    letter-spacing: 0.15px;

    color: #414046;
}

.informationMessage {
    width: 320px;
    height: 24px;
    margin-bottom: 3vmin;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */
    text-align: center;
    letter-spacing: 0.16px;

    color: #414046;
}