.navbar {
    position: absolute;
    width: 360px;
    height: 64px;
    left: 0px;
    top: 0px;

    background: #0277BD;
}

.navbar content {

}

.container {
    position: relative;
    width: 360px;
    height: 640px;
    
    background: #FFFFFF;
}